.container-dialog {
    margin: 0 auto;
    width: 40%;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: slategray;
}