<!--The content below is only a placeholder and can be replaced.-->
<div class="back">
    <mat-toolbar color="primary">
        <span>{{title}}</span>
        <span><div class="chips">
      <mat-chip-list>
          <mat-chip  color="accent" selected *ngFor="let opt of options" [class.selected]="opt === selectedOption" (click)="onSelect(opt)">{{opt}}</mat-chip>
         
      </mat-chip-list>
  </div></span>

        <span class="fill"></span>

        <mat-chip color="primary" selected (click)="logoff()">Logout</mat-chip>
    </mat-toolbar>
    <p></p>
    <br>

</div>

<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Left Sidebar</h1>
    <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
    <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button>
</p-sidebar>


<!--<div class="navigate">
    <nav style="padding:40px; display: flex; flex-direction: column;">
        <a routerLink="/fixtures">Fixtures</a>
        <a routerLink="/orders">Orders</a>
    </nav>
</div>-->


<!--<app-fixtures></app-fixtures> -->
<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://tikit.azurewebsites.net"> Ticket Market Place</a>
    </div>
    <!-- Copyright -->

</footer>

<!-- Footer -->

<router-outlet></router-outlet>