<!--The content below is only a placeholder and can be replaced.-->
<div class="back">


    <mat-toolbar color="primary">

        <div class="navigate">


            <!-- <ul class="nav flex-column text-truncate navbar-dark bg-dark pt-2 vh-100" id="sidebar">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
        
                    </ul> -->
            <!-- <nav style="padding:10px; display: flex; flex-direction: column;"> -->

            <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
                <h1 style="font-weight:normal">Menu Sidebar</h1>

                <mat-chip-list style="display: flex; flex-direction: column; flex: 1 1;">
                    <mat-chip color="accent" selected *ngFor="let opt of options" [class.selected]="opt === selectedOption" (click)="onSelect(opt)">{{opt}}</mat-chip>
                </mat-chip-list>
            </p-sidebar>

            <button pButton type="button" (click)="visibleSidebar = true" icon="pi pi-th-large"></button>
            <!-- <a routerLink="/">
                            Home 
                         </a>
                        <a routerLink="/view-fixtures">
                           View Fixtures
                        </a>
                        <a routerLink="/add-fixtures">
                            Add Fixtures 
                         </a>
                        <a routerLink="/tickets">
                            Tickets 
                         </a>
                        <a routerLink="/users">
                            Users 
                         </a>
                        <a routerLink="/orders">
                          Orders
                        </a> -->

        </div>
        <span style="margin: 0 auto;">{{title}}</span>
        <span><div class="chips">
    
  </div></span>

        <span class="fill"></span>

        <mat-chip color="primary" selected (click)="logoff()">Logout</mat-chip>
    </mat-toolbar>
    <p></p>
    <br>

</div>

<div class="col-xs-12 col-sm-12 col-lg-12">
    <!-- Teal page content  -->
    <div class="container">

        <!--router outlet-->
        <router-outlet></router-outlet>
    </div>
</div>


<!--<app-fixtures></app-fixtures> -->
<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://tikit.azurewebsites.net"> Ticket Market Place</a>
    </div>
    <!-- Copyright -->

</footer>

<!-- Footer -->