<!-- <div class="spin">
    <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div> -->
<!-- <div>
    <section class="example-section">
        <mat-spinner></mat-spinner>
    </section>
</div> -->


<!-- <h3 class="first">Dynamic</h3>
<p-progressBar [value]="value"></p-progressBar> -->

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Admin Console</mat-card-title>
        <mat-card-subtitle>Manage an array of items such as Fixtures, Users, Orders and Tickets</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://1554227851.rsc.cdn77.org/sites/default/files/managing-user-roles-permission-drupal-8.jpg" alt="User management">
    <mat-card-content>
        <p>
            Manage all aspects
        </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>

<div class="grid grid-pad">

    <div class="module">
        <h4 (click)="onSelect()">Go to main site</h4>
    </div>

</div>


<!--<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Top Events</mat-card-title>
        <mat-card-subtitle>Season finale</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.standardmedia.co.ke/images/thursday/shutnwrgbilkl5b6ca2b47652a.jpg" alt="EPL Fixtures">
    <mat-card-content>
        <p>
            A sneak peek of EPL Fixtures schedule.
        </p>
    </mat-card-content>
    <mat-card-actions>


        <button mat-button>Like</button>
        <button mat-button>Share</button>
    </mat-card-actions>
</mat-card>
-->